<div class="body-table">

<div class="top-wrapper">

  <div class="slide" id="makeImg">
  <img src="/nkights.JPG"   alt="sports1">
  <img src="/nkights.JPG"    alt="sports2">
  <img src="/club-sample6.jpg"    alt="sports3">
  <img src="/club-sample7.jpg"    alt="sports4">
  <img src="/club-sample8.jpg"   alt="sports5">
</div>

<div class="top-content row">

  <div class="top-content-left col">
    <div class="top-content-content">

    <h3>サークル・団体を検索</h3>
    <p>カテゴリーや活動場所・フリーワードなどで、自分の趣味や目的などがマッチした団体を検索する事が出来ます。</p>

    </div>
    <%= link_to 'サークルを探す', clubs_path,class:"btn-push" %>
</div>

  <div class="top-content-right col">
    <div class="top-content-content">

    <h3>気軽にイベントに参加</h3>
    <p>サークル・団体に応募するか迷った時には団体・サークルのイベントに参加してみるとサークルの内側をのぞく事が出来ます！</p>

    </div>
    <%= link_to 'イベントを探す', events_path,class:"btn-push" %>
  </div>




</div>
</div>
</div>
